
<div class='banner' style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1526415302530-ad8c7d818689?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">

<h1>cocktails</h1>

<div class='container'>
  <div class='cards'>
    <% @cocktails.each do |cocktail| %>
        <div class='card-category'>
        <h3><%= link_to cocktail.name.upcase, cocktail_path(cocktail)%></h3>
        </div>
      <p> </p>
    <% end %>
  </div>

  <%= link_to "adicione novo drink", new_cocktail_path, class: "btn-add" %>
</div>
</div>

